<div id="main-navigation" class="sticky top-0 w-full h-0 z-50">
  <nav class="bg-zinc-800 absolute top-0 w-full">
    <div class="container max-w-screen-xl px-4 py-2.5 mx-auto flex flex-wrap justify-between items-center">
      <%= link_to root_path, class: "flex items-center" do %>
        <%= current_account.content.image_tag(:logo, {}, {class: "h-8 sm:h-10"}) %>
      <% end %>

      <button data-collapse-toggle="mobile-menu" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="mobile-menu" aria-expanded="false">
        <span class="sr-only">Hauptmenü öffnen</span>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>

      <div class="hidden w-full md:block md:w-auto my-4 md:my-0" id="mobile-menu">
        <ul class="flex flex-col md:flex-row md:space-x-6 space-y-6 md:space-y-0">
          <%# Admin Edit Button %>
          <% if current_spina_user.present? %>
            <li><%= link_to "Edit Page", spina.edit_admin_page_path(current_page), class: "block text-white text-base", target: "_blank" %></li>
          <% end %>

          <%# Main Navigation %>
          <% nav = Spina::Navigation.find_by(name: 'main') %>
          <% items = nav.navigation_items.regular_pages.sorted.live.in_menu.active %>

          <% any_page_active = false %>
          <% nav_items = [].tap do |out| %>
            <% items.each do |item| %>
              <% if item.page.materialized_path %>
                <% active_page = item.page.id == current_page.id || ( current_page.resource.present? && item.page.name == current_page.resource.name ) %>
                <% out << [item.page.menu_title, item.page.materialized_path, active_page] %>
                <% any_page_active ||= active_page %>
              <% end %>
            <% end %>
          <% end.each do |item| %>
            <li>
              <% classes = [].tap { |out| out << "block text-gray-400 text-base hover:text-white"; out << "!text-white" if item[2] || !any_page_active }.join(' ') %>
              <%= link_to item[0], item[1], class: classes %>
            </li>
          <% end %>

          <%# Language Toggle %>
          <% existing_locales = current_page.translations.pluck(:locale).map(&:to_sym) %>
          <% current_locale = params[:locale]&.to_sym || I18n.default_locale&.to_sym %>
          <% existing_locales.each do |locale| %>
            <% if locale != current_locale %>
              <li><%= link_to t("spina.languages.#{locale}"), current_page.materialized_path(locale: locale), class: "block text-white text-base" %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
