<% 
    page_klass = "blog" 
%>
<section "bg-gray-200 font-sans leading-normal tracking-normal">
    <%= render '/ghostwind/shared/header' %>
        
    <!--Container-->
    <div class="container px-4 md:px-0 max-w-6xl mx-auto -mt-32">
        
        <div class="mx-0 sm:mx-6">
            <p><%= page_klass %> </p>
            <!--Nav-->
            <%= render '/ghostwind/shared/navigation' %>
            
            <div class="bg-gray-200 w-full text-xl md:text-2xl text-gray-800 leading-normal rounded-t">                
                <% @posts = Spina::Resource.find_by(name: "blogposts")&.pages&.live %>
                <% @post_row_1 = @posts[0]%>
                <%= render '/ghostwind/shared/lead_card' %>


                <!--Posts Container-->
                <div class="flex flex-wrap justify-between pt-12 -mx-6">
                    <% @posts.each_with_index do |blogpost, index| %>
                        <%= render partial: "/ghostwind/shared/card", locals: { card: blogpost, card_number: index, page_klass: page_klass } %>
                    <% end %>

                    <%#= render  "/ghostwind/shared/half_col_card" %>

                    <%#= render  "/ghostwind/shared/half_col_card" %>

                    <%#= render  "/ghostwind/shared/two_thirds_col_card" %>


                    <%#= render '/ghostwind/shared/one_third_col_card' %>                    

                </div>
                <!--/ Post Content-->
                    
            </div>
        
        
            <%= render '/ghostwind/shared/subscription_box' %>                    

            <%= render '/ghostwind/shared/author_box' %>                    
        </div>
    </div>

    <%= render '/ghostwind/shared/footer' %>
</section>
<script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<script>
    //Init tooltips
    tippy('.avatar')
</script>
